<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="tokenConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />   
    <rewrite>
      <rules>
        <rule name="login" enabled="true" stopProcessing="true">
          <match url="login" />
          <action type="Rewrite" url="default.html" appendQueryString="false"/>
        </rule>
        <rule name="addnewcase" enabled="true" stopProcessing="true">
          <match url="newcase" />
          <action type="Rewrite" url="default.html" appendQueryString="false"/>
        </rule>
        
        <rule name="home" enabled="true" stopProcessing="true">
          <match url="home" />
          <action type="Rewrite" url="default.html" appendQueryString="false"/>
        </rule>
        <rule name="editcase" enabled="true" stopProcessing="true">
          <match url="editcase" />
          <action type="Rewrite" url="default.html" appendQueryString="false"/>
        </rule>
          <rule name="Declaration" enabled="true" stopProcessing="true">
          <match url="declarationform" />         
          <action type="Rewrite" url="default.html" />
        </rule>
        <rule name="DeclarationDashboard" enabled="true" stopProcessing="true">
          <match url="declarationdashboard" />
          <action type="Rewrite" url="default.html" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <tokenConfig>
    <add key="secret" value="XCAP05H6LoKvbRRa/QkqLNMI7cOHguaRyHzyg7n5qEkGjQmtBhz4SzYh4Fqwjyi3KJHlSXKPwVu2+bXr6CtpgQ==" />
    <add key="issuer" value="Butterfly" />
    <add key="refreshTokenExpirationTimeInMinutes" value="2" />
    <add key="accessTokenExpirationTimeInMinutes" value="60" />
  </tokenConfig>
  <connectionStrings>
    <add name="ButterflyContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ButterflyDB;Integrated Security=SSPI; " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
 
</configuration>