#customAdvanceSearchElement{
    background-color: white;
  }
  .customSearchHeadingRow{
    /* border-bottom: 1px solid #eeeff2; */
    /* height: 45px; */
    color: black;
    font-weight: 800;
    /* padding-top: 8px; */
    /* padding-left: 16px; */
    font-size: 16px;
    /* margin-top: 15px; */
    margin-left: 15px;
    /* margin-right: 15px; */
  }
  
  .customSearchBody{
    margin-left: 15px;
    margin-right: 15px;
    height: 168px;
  }
  
  label{
    margin-bottom:2px;
  }
  
  .buttonsRow{
    margin-top:5px;
  }
  
  .filterButton{
    margin-right: 5px;
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .filterDropDown button{
    color: #2d2d2d;
    border-color: #dadada;
    width: 171px;
    height: 33px;
    font-size: 14px;
    text-align: left;
    padding-left: 13px;
    padding-top: 5px;
    background-color: #fff;
  }
  
  .filterDropDown .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 16px;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  
  .btn-normal
  {
    background-color: white;
    border: 1px solid #e2e2e2;
  }
  
  .customSearchComponentRow input[type="text"]
  {
    width: 171px;
    height: 33px;
    border-radius: 3px;
  }
  
  .customSearchComponentRow button{
    color: #2d2d2d;
    border-color: #dadada;
    width: 171px;
    height: 33px;
    font-size: 14px;
    text-align: left;
    padding-left: 13px;
    padding-top: 5px;
    background-color: #fff;
  }
  
  .customSearchComponentRow .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 16px;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  
  .label{
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 3px;
    color: grey;
  }
  
  .customSearchComponentRow .customComponent{
    display: inline;
  }
  
  .filterCrossBtn{
    color:red;
    font-size: 16px
  }
  
  .filterCrossBtn:hover{
    color: red;
    font-size:18px;
    cursor: pointer;
  }

  /* .customSearchComponentRow .customComponent div{
    display:inline;
  } */

  .customSearchComponentRow .customComponent .form-group{
    display:inline;
  }


  
  