.box{
    background: white;
    color:white;
    background: linear-gradient(to right, rgb(102, 229, 181), rgb(41, 224, 105));
    padding: 37px 8px 37px 19px;
    border-radius: .375rem;
    border: none;
    font-family: 'Roboto';
    margin-top:15px;
    box-shadow: 0 2px 3px 0 rgba(52,56,85,.25);
}
.heading{
    font-size:30px;
}
.count{
    font-size:49px;
}