
.margin-left-39{
    margin-left:39px;
}
.margin-left-22{
    margin-left:22px;
}
.margin-right-left-10{
    margin-left:10px;
    margin-right:10px;
}
.box-height-572{
    height: 572px;
}

.box{
    background: white;
    color:white;  
    padding: 12px 18px 12px 18px;
    border-radius: .375rem;
    border: none;
    box-shadow: 0 2px 3px 0 rgba(52,56,85,.25);
    height:190px;
}
.box-green{
    background: linear-gradient(to right, rgb(102, 229, 181), rgb(41, 224, 105));
}
.box-blue{
    background: linear-gradient(to right, rgb(52, 181, 229), rgb(46, 132, 224));
}
.box-white{
    background:white;
}

.tileBox{
    cursor: pointer;
    margin-top:15px;
}

.tilesRow{
margin-left:10px;
margin-right: 10px;
}

.shadowBox{
    padding: 12px 18px 12px 18px;
    /* border-radius: .375rem; */
    border: none;
    box-shadow: 0 2px 3px 0 rgba(52,56,85,.25);
}

.chartBox{
    height:465px;
    padding: 15px 15px 15px 15px;
}

.toggler{
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-default.btn-on.active{
    background-color: #5BB75B;

}

.btn-default.btn-off.active{
    background-color: rgb(75, 73, 218);
}