.nav-bg-color{
    background-color:#6A54A6;
}
.nav-overide{
    justify-content: space-between !important;
}
.btn-style{
    background: transparent;
    border:none;
    float: right;
    color: rgba(255,255,255,0.5)
}