*{
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
}

.sidebar {
  position: absolute;
  width: 80%;
  height: 100%;
  background: #460c63;
  left:-285px;
}

.sidebar.active{
  left:0px;
}

.sidebar-ul li {
  cursor: pointer;
  color: White;
  list-style:none;
  padding: 16px 16px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

.sidebar-ul ul{
    display: none;
}

.sidebar-ul li:hover > ul {
    display: block;
    padding: 16px 16px;
}

.sidebar .sub-arrow::after{
    content: ' \00BB';
    float :right;
    transform:rotate(90deg);
}

.sidebar li:hover > .sub-arrow::after{
    content: ' \00AB';
}

.sidebar-ul ul li::before{
    content:' \203A';
    margin-right: 20px;
}

.sidebar .toggle-btn{
  cursor: pointer;
  position: absolute;
  left:303px;
  top:20px;
}

.toggle-btn span{
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin:3px 0px;
}

   



