.box{
    background: white;
    color:white;  
    padding: 12px 18px 12px 18px;
    border-radius: .375rem;
    border: none;
    box-shadow: 0 2px 3px 0 rgba(52,56,85,.25);
    height:190px;
}
.box-green{
    background: linear-gradient(to right, rgb(102, 229, 181), rgb(41, 224, 105));
}
.box-blue{
    background: linear-gradient(to right, rgb(52, 181, 229), rgb(46, 132, 224));
}
.box-red{
    background: linear-gradient(to right, rgb(224, 85, 74), rgb(245, 19, 2));
}

.box-darkblue{
    background: linear-gradient(to right, rgb(57, 108, 168), rgb(3, 45, 94));
}

.box-white{
    background:white;
}

.tileCounter{
    font-family:'Source Sans Pro', sans-serif; 
    font-size:21px; 
    font-weight:900;
}

.tileTitle{
    font-family:'Source Sans Pro', sans-serif; 
    font-size:15px; 
    font-weight:500;
} 

.chartDiv{
    padding-top:33px;
}

.chartTitle{
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
}
