.block-heading {
    margin: -10px -10px 0px -10px;
    color: white;
    background: #929397;
    padding: 3px;
  }
.pd-rt-0 {
    padding-right: 0px;
  }
.pd-rt-27 {
    padding-right: 27px;
  }
.pd-lf-0 {
    padding-left: 0px;
  }
.pd-lf-27 {
    padding-left: 27px;
  }
 .pd-top-10{
  padding-top:10px;
 } 
 .pd-top-14{
   padding-top:14px;
 }
.border-rt {
    border-right: 1px solid #908787;
  }
.pd-10{
    padding:10px;
}
.form-bg-color{
    background:#F2F2F2;
}
.header-bg-color{
  background:#666;
}
.border-radius-0{
  border-radius:0px;
}
.bg-color-e6{
  background-color:#E6E6E6;
}
.bg-f2{
  background:#F2F2F2;
}
.color-black{
  color:black;
}