.block-heading {
  margin: -10px -10px 0px -10px;
  color: white;
  background: #929397;
  padding: 3px;
}

.pd-rt-0 {
  padding-right: 0px;
}

.pd-rt-27 {
  padding-right: 27px;
}

.pd-lf-0 {
  padding-left: 0px;
}

.pd-lf-27 {
  padding-left: 27px;
}

.border-rt {
  border-right: 1px solid #908787;
}
